<div class="modal-body body">  
	
		
		<div><p style="color:#A64D4D;padding-left:10px;padding-bottom:4px;padding-top:1px;"><b>**All Weights given should be sumed up to 100 %</b></p></div>
         <br>
		<% Criterion.all.each do|criteria|%>
		
	<label class = "label1 criteria-background"><h4><%= check_box_tag "criterions_ids[]", criteria.id , @ids.include?(criteria.id) , :class => "cb", id: dom_id(criteria)%> &nbsp;&nbsp;<%= criteria.name%></h4></label>

	<div id=<%="#{criteria.id}"-%> style= "display:none">
	<p class = "p"><%= f.text_field(criteria.id , :class => "span4 weight", :placeholder =>"weight %") %> %</p>
	<br>
	<h6 style="padding-left:20px;"> &#9733; Please Choose Sub-Criteria:</h6>
	<div class= "list2" style="padding-left:20px;">
	<% Subcriterion.where(:criterion_id => criteria.id).each do |sub|%>
	<label class = "label1"><%= check_box_tag "subcriterions_ids[]", sub.id , @subids.include?(sub.id) , id: dom_id(sub)%><%= sub.name%></label>
	<%end%>
</div>
</div>
<hr>
<%end%>
<%= f.hidden_field :sum , :id=>"sum" %>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
 		<button class = "btn btn-primary save" type = "submit" disabled>Save</button>
    
  </div>






