<%= form_for(:company_criteria, :url=>{:action=>'edit_criteria' , :id => params[:id]}) do |f| %>
<dl>
	<p style= "color:red"><b>**All Weights given should be sumed up to 100 %</b></p>
		<% Criteria.all.each do|criteria|%>
		<div>
			<label><%= check_box_tag "criteria_ids[]", criteria.id , @ids.include?(criteria.id) , :class => "cb" ,id: dom_id(criteria)%>
			<% @m = CompanyCriteria.where(:company_id => @company , :criteria_id => criteria.id).first%>
			<% if !@m.blank?%>
			<% @v= @m.weight.to_s%>
			<%else%>
			<%@v = ""%>
			<%end%>
			<b><%= criteria.name %>: </b></label>
			<div id=<%="#{criteria.id}"-%> <% if @m.blank? %>style="display:none;"<% end %>><%= f.text_field(criteria.id , :value =>@v, :placeholder =>"weight" , :class => "span2 weight") %>
			
			<% Subcriteria.where(:criteria_id => criteria.id).each do |sub|%>
	<label><%= check_box_tag "subcriteria_ids[]", sub.id , @subids.include?(sub.id) , id: dom_id(sub)%><%= sub.name%></label>
	</div>
	<%end%>	
	<%= f.hidden_field :sum , :id=>"sum" %>		
</div>
<%end%>
<%= f.submit "save"%>
<%end%>
</div>