<div id="myCarousel" class="carousel slide" style= "margin-top:21px;" id="background">
  <ol class="carousel-indicators" style="margin-top:330px; margin-right:645px;">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item" style ="margin-left:-40px;"><%= image_tag("sap.jpg" , :width => "6500")%> </div>
    <div class="item" style ="margin-left:-40px;"><%= image_tag("Oracle.png", :width => "6500")%></div>
    <div class="item" style ="margin-left:-40px;"><%= image_tag("MSDynamics.jpg", :width => "6500")%></div>
    <div class="item" style ="margin-left:-40px;"><%= image_tag("sage.png", :width => "6500")%></div>
    <div class="item" style ="margin-left:-40px;"><%= image_tag("epicor.jpg", :width => "6500")%></div>
    <div class="item" style ="margin-left:-40px;"><%= image_tag("netsuite.jpg", :width => "6500")%></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev"><b>&lsaquo;</b></a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next"><b>&rsaquo;</b></a>
</div>
<footer style="padding-left:200px;">
<div class ="span3">
<p class= "home">About Us:</p>
<div style="color:#7e7c83; padding-left:10px;" class="line-break">
This System is designed to help you choose your ERP system that is most suitable for your company. This system uses a combination of structured and unstructured data get all types of information to help you select your ERP system.
</div>
</div>

<div class ="span3" style= "margin-left:70px;">
<p class= "home">Services:</p>
<div style="color:#7e7c83; padding-left:10px;" class="line-break">
This System will provide you with all the vendors available in the market and their systems. You can choose your requirements and criteria from a huge list and then assign scores to each one to help you know the best systems that would fit your company
</div>
</div>

<div class ="span3" style= "margin-left:70px;">
<p class= "home">Contact Us:</p>
<div style="color:#7e7c83; padding-left:15px;">
  <address class ="add">
                  <strong class = "address">Address:</strong><br>
                  <br>
                 <strong class = "address">Phone:</strong>
                </address>

</div>
</div>

</footer>