<div class="color">
<div class="modal-body body"> 
<% @criteria.each do |c| %> 
<div >
<h4 class="criteria-background"><%= c.criterion.name %>
<span class="pull-right"><%= c.weight %>%<span></h4>
</div>
<% cid = c.criterion.id %>
<% w = c.weight%>
	<% @edits.each do |e| %>
	    <div style="padding-left:39px;">
	    	<% if (c.criterion.id == e.criterion_id) %>
		    <% sid = e.system.id %>
		    <%  @id = sid.to_s  + "," + w.to_s + "," + cid.to_s %>
			<span class="text"><% name = e.system.name %></span>
			 <div class="row">
            <div class="span2">
            <%= f.label(name) %>  
            </div>
            <div class="span7 pull">  
            <% value = e.value %>
		   <span style="margin-left:100px;"> <%= f.text_field(@id , :value=> value , :class=>"span2")%> </span>
            </div>
            </div> 	
           <%end%>
		</div>
	<%end%>
	<hr>
<%end%>
</div>
</div>
 <div class="modal-footer" style="margin-left:-20px;margin-bottom:-20px;">
         <%= f.submit("submit") %>
 </div>

	
