<div class="color">
<div class="modal-body body"> 
<% @criteria.each do |c| %> 
<div >
<h4 ><%= c.criterion.name %>
<span class="pull-right"><%= c.weight %>%<span></h4>
</div>
<% cid = c.criterion.id %>
<% w = c.weight%>
     <% if !@edits.blank? %>
	<% @edits.each do |e| %>
	    <div style="padding-left:39px;">
	    	<% if (c.criterion.id == e.criterion_id) %>
		    <% sid = e.system.id %>
		    <%  @id = sid.to_s  + "," + w.to_s + "," + cid.to_s %>
			<span class="text"><% name = e.system.name %></span>
			 <div class="row">
            <div class="span2">
            <%= f.label(name) %>  
            </div>
            <div class="span7 pull">  
            <% value = e.value %>
		   <span style="margin-left:100px;"> <%= f.text_field(@id , :value=> value , :class=>"span2")%> </span>
            </div>
            </div> 	
           <%end%>
		</div>
	<%end%>
	<%end%>
	<br>
	<b style="padding-left:20px">Reason</b>
	<br>
	<% @reason = "reason" + "," + cid.to_s %>
	<%if user_signed_in? %>
	<% find = Reason.find(:all , :conditions => {:company_id=> @company.id , :criterion_id => c.criterion.id , :user_id=> current_user.id}) %>
	<% if !find.blank? %>
	<% r = find.first %>
	<% value = r.reason %>
	<span style="padding-left:20px;"><%= f.text_area(@reason , :value=> value , :rows => "8")%> </span>
	<%else %>
	<%= f.text_area(@reason, :rows => "8" )%>
	<%end%>
	<hr>
	<%end%>
<%end%>
</div>
</div>
 <div class="modal-footer" style="margin-left:-20px;margin-bottom:-20px;">    
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
 		<button class = "btn btn-primary" type = "submit">Save</button>
  
</div>

	
