
<div class="color">
<div class="modal-body body"> 
<% @criteria.each do |c| %> 
<div >
<h4 class="criteria-background"><%= c.criterion.name %>
<span class="pull-right"><%= c.weight %>%<span></h4>
</div>
<% cid = c.criterion.id %>
<% w = c.weight%>
	<% @systems.each do |s| %>
	    <div style="padding-left:20px;">
		    <% sid = s.system.id %>
		    <%  @id = sid.to_s  + "," + w.to_s + "," + cid.to_s %>
			<% name = s.system.name %>
			<div class="row">
            <div class="span2">
			<div class="text" style="padding-left:20px"><%= f.label(name) %></div>
			</div>
			<div class="span7 pull">  
		   <span style="margin-left:100px;"> <%= f.text_field(@id , :value=> 0 , :class=>"span2")%> </span><br>
		   </div>
		   </div>
		</div>
	<%end%>
	<b style="padding-left:20px">Reason</b><br>
	<% @reason = "reason" + "," + cid.to_s %>
	<span style="padding-left:20px"><%= f.text_area(@reason , :rows => "8")%> </span>
	<hr>
<%end%>
</div>
</div>
<div class="modal-footer" style="margin-left:-20px;margin-bottom:-20px;">    
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
 		<button class = "btn btn-primary" type = "submit">Save</button>
  
</div>



