<% @companies.each do |company| %>
            <% if user_signed_in? %>
			<% @user = CompanyUsers.find(:all, :conditions=> {:company_id=> company.id , :user_id=> current_user.id})%>
			<% @admin = User.find(current_user.id)%>
			<%end%>
			<% if( (( !user_signed_in? ) &&(company.confirm == true) && (company.show == true)) || (((!@user.blank? && company.show == false) || (company.show == true)) && (company.confirm == true))||((!@admin.blank? && @admin.role =="admin")) )%>
	     	<div class="box-list" >
                <div style="padding:10px">
	                <div>
	                	<div class="row">
		                	<div class="span4" style="padding-left:20px">
							<% if( !@user.blank? || ( !@admin.blank? && @admin.role == "admin") )%>
			                	<%= link_to({:action => 'show', :id => company.id}) do %>
			                	<% if !company.image.blank? %>
								<%= image_tag("#{company.image_url(:thumb).to_s }" , :class=>"img-circle bg")%>
								<%else%>
								<%= image_tag("circle.jpg" , :class=>"img-circle bg")%>
								<%end%>
								<%end%>
							<%else%>
								<% if !company.image.blank? %>
								<%= image_tag("#{company.image_url.to_s }" , :class=>"img-circle bg")%>
								<%else%>
								<%= image_tag("circle.jpg" , :class=>"img-circle bg")%>
								<%end%>
							<%end%>
							<br>
							<br>
							<div style="padding-left:10px">
							<address class ="add">
					  			<strong class = "address">Address:</strong><br>
					  			<%=company.address%><br>
					  			<abbr title="Phone">P:</abbr> <%=company.phone%> 
								</address>
							<address>
					  			<strong class = "address">Website:</strong><br>
					 			 <a href="#"><%=company.website%></a>
							</address>
							</div>
							</div>
							<div class="span7" style="margin-top:10px">
							<br>
							<% if( ( !@user.blank?) || ( !@admin.blank? && @admin.role == "admin") )%>
							<span style="font-size:25px;"><b><%= link_to(company.name, {:action => 'show', :id => company.id} ,:class => "link-color-purple") %></b></span>
							<%else%>
							<b class="link-color-purple" style="font-size:25px;"><%= company.name%></b>
							<%end%>
							<br>
							<br>
							<br>
							<b>Description</b>
							<br>
							<div class="line-break">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
							</div>
						</div>
					</div>
				</div>						
			</div>	
			<br>
	    <%end%>
	<%end%>
