
<br>
<br>
<br>
<div class="container">	

<div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">New Company</h3>
  </div>
  <%= form_for(@company , :as=>:company, :url=>{:action=>'create'}) do |f| %>
  <%= render(:partial=> 'form' , :locals => {:f => f})%>
 <% end %>
</div> 
</div>
		
<div class="row">
<div class="span2">
<div class="header" style="padding-left:20px"> Companies</div><br>
</div>
<div class="span3 offset7 pull-right">
<a href="#myModal" role="button" class="btns" data-toggle="modal" style="margin-left:150px"><i class="icon-plus icon-white"></i> <b style="color:white">New</b></a>
</div>
</div>
        <div style="margin-top:-20px">
		<% @companies.each do |company| %>
		<br>

	     	<div class="box-list" >
                <div style="padding:10px">
	                <div>
	                	<div class="row">
		                	<div class="span4" style="padding-left:20px">
		                	<%= link_to({:action => 'show', :id => company.id}) do %>
							<%= image_tag("sap2.png", :class=> "img-circle bg" , height: '90', width: '90' )%> 
							<%end%>
							<span style="padding:19px"><%= link_to(company.name, {:action => 'show', :id => company.id} ,:class => "title link-color-purple") %></span>
							<br>
							<br>
							<div style="padding-left:10px">
							<address class ="add">
					  			<strong class = "address">Address:</strong><br>
					  			<%=company.address%><br>
					  			<abbr title="Phone">P:</abbr> <%=company.phone%> 
								</address>
							<address>
					  			<strong class = "address">Website:</strong><br>
					 			 <a href="#"><%=company.website%></a>
							</address>
							</div>
							</div>
							<div class="span7">
							<br>
							<br>
							<br>
							<br>
							<br>
							<b>Description</b>
							<br>
							<div class="line-break">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
							</div>
						</div>
					</div>
				</div>						
			</div>
	
	<%end%>
	<div>
	
	
 </div>
