<br>
<br>
<br>

<div class="container">

<div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit A Company</h3>
  </div>
  <%= form_for(@company , :as=>:company, :url=>{:action=>'update' , :id => @company.id}) do |f| %>
  <%= render(:partial=> 'form' , :locals => {:f => f})%>
 <% end %>
</div>
</div> 


<div class="row">
    <div class="span7">
    <div class="header" style="padding-left:15px"><%= @company.name %></div>
    </div>
    <div class="span1" style="padding-left:300px">
    <a href="#myModal" role="button" class="btns" data-toggle="modal" title = "Edit"><i class="icon-pencil icon-white" ></i></a>
    </div>
    <div class="span1 pull-right" style="margin-right:-18px">
    <p class =" btns" title = "Delete"> <%= link_to({:action => 'destroy', :id=>params[:id]},:confirm => 'Are you sure you want to delete?!') do  %> <i class="icon-trash icon-white"></i> <%end%> </p>
    </div>
</div>
<br>

<div class="show-box-list">
<div class="tabbable"> 

  <ul class="nav nav-tabs colorr">
    <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
    <li><a href="#tab2" data-toggle="tab">Criteria</a></li>
     <li ><a href="#tab3" data-toggle="tab">Requirements</a></li>
     <li ><a href="#tab4" data-toggle="tab">Score</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="tab1">
      <div class="inner-content-div">
      <br>

      <div class="row">
      <div class="span4">
      <div style="padding-left:55px;"><%= image_tag("logo.jpg", :alt => "rss feed")%></div><br><br>
      </div>
      <div class="span6 line-break">
      <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>
      </div>
      </div>

      <ul style="padding-left:25px;">
        <li><b>Owner:</b><br></li>
        <%= @company.owner %>
        <br>
         <li><b>Revenue:</b><br></li>
         <%= @company.revenue %>  
        <br>
         <li><b>Public:</b><br></li>
        <%= @company.public %>
        <br>
        <li><b>No of employees:</b><br></li>
        <%= @company.no_of_employees%>
        <br>
        <li><b>Goals:</b><br></li>
         <%= @company.goals %>  
        <br>
         <li><b>Size:</b><br></li>
        <%= @company.size %>
        <br>
        <li><b>No of Branches:</b><br></li>
        <%= @company.no_of_branches%>
        <br>
        <li><b>Headquarters:</b><br></li>
        <p class ="add"><%= @company.headquarters%><p>
          
          <address class ="add">
        <li><b>Address:</b><br></li>
        <%=@company.address%><br>
        <abbr title="Phone">P:</abbr> <%=@company.phone%> 
      </address>
    <address>
        <li><b>Website:</b><br></li>
       <a href="#"><%=@company.website%></a>
      </address>
      </ul>
      <br>
      <br>
    </div>
    </div>

    <div class="tab-pane" id="tab2">
      <div class="inner-content-div">
        <% if !@criteria.blank?%>
        <div>
      <div style="padding-left:23px; margin-left:790px;"><a href="#Modal" role="button" class="btnpink" data-toggle="modal" title = "Edit Criteria" style ="color:#ffffff;"><i class="icon-pencil icon-white" ></i> Edit</a></div>

      <div id="Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
       <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
       <h3 id="myModalLabel">Edit Criteria of Company</h3>
      </div>
      <%= form_for(:company_criterions, :url=>{:controller => 'company_criterions' , :action=>'edit_criteria' , :id => @company.id}) do |f| %>
       <%= render(:partial=> 'company_criterions/edit' , :locals => {:f => f})%>
       <% end %>
        </div>
          </div>

      <ul><% @criteria.each do |criteria| %> 
      <p class = "title link-color"><h4 class = "link-color"><%=criteria.criterion.name%><p style="margin-left:120px; margin-top:-20px;"><%=criteria.weight%>%</p></h4></p>
      <p class = "line-break"><%=criteria.criterion.description%> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.</p>
      <% @cid = Subcriterion.where(:criterion_id => criteria.criterion.id) %>
      <h5 class ="link-color">&#9734; Sub-Criteria Chosen:</h5>
      <div>
      <%@cid.each do |s|%>
      <%if @subids.include?(s.id)%>
      &#149; <%= s.name%><br>
      <%end%>
      <%end%>
    </div>
      <hr>
      <br>
      <%end%>
      </ul>
<%else%>
      <div>
     <div style="padding-left:23px; margin-left:790px;"> <a href="#mModal" role="button" class="btnpink" data-toggle="modal" title = "Add Criteria" style ="color:#ffffff;"><i class="icon-plus icon-white" ></i> New</a> </div>

      <div id="mModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
       <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
       <h3 id="myModalLabel">Add Criteria To Company</h3>
      </div>
      <%= form_for(:company_criterions, :url=>{:controller => 'company_criterions' , :action=>'enter_criteria' , :id => @company.id}) do |f| %>
       <%= render(:partial=> 'company_criterions/view' , :locals => {:f => f})%>
       <% end %>
        </div>
          </div>
          <%end%>
    </div>
    </div>

      <div class="tab-pane " id="tab4">
      <div class="inner-content-div">

       <% @systems.each do |s| %>
        <h4 style="padding-left:23px"> <b><%= link_to("#{s.system.name}",{:controller=>"systems",:action=>'show',:id=>s.system.id}, :class=>"link-color-purple")%></b> </h4>

      <div>
      <div class="row">
        <div class="span3">   
          <% if (@button == "Yes")  %>
            <% @edits.each do |e| %>
               <% if (e.system_id == s.system_id)%>
               <b style="padding-left:42px"><%= e.criterion.name %></b><br>
               <span style="padding-left:42px"> Weight: <%= e.weight %>% <span class="pull-right">Value: <%= e.value %></span></span>
               <br><br>
               <%end%>
            <% end %>
          <% end %>
        </div>
        <div class="span3 offset3 pull-right">
          <div frame="box" class="border">
          <div>
          <b style="padding-left:18px">Score</b><br>
          <span style="padding-left:22px"><% if !s.final_score.nil? %><%= s.final_score %><%else %><span style="padding-left:10px;"></span><%end%></span>
          </div>
        </div>
        </div>
      </div>
      </div>

      <div style="padding-left:22px">
        <b>&#9734; System Requirements</b><br>
        <% @req = SystemRequirement.find(:all,:conditions=>{:system_id => s.system_id}) %>
        <% @types = Type.all %>
        <% @types.each do |type| %>
          <% @boolean = "No" %>
          <ul>
          <% @req.each do |r|%>
            <% if (r.requirement.type_id == type.id)%>
              <% if (@boolean == "No") %>
                <b style="margin-left:-20px;"><%= type.name %></b><br>
                <% @boolean = "Yes" %>
              <%end%>
              <% if (r.requirement.type.string == true)%>
             <li> <%= r.requirement.name %><br></li>
              <%else%>
              <li><%= r.requirement.name %> <%= r.value%><% if (r.max == true) %> Max. <%else%> Min. <%end%></li>
              <%end%>
            <%end%>
          <%end%>
        </ul>
        <%end%>
      </div>

         <hr>
       <%end %>



    <% if (@button == "No") %>
    <% if( !@systems.blank? ) %>
    <span style="padding-left:713px;"><a href="#myscoreModal" role="button" class="btnpink" data-toggle="modal"><b>Score</b></a></span>
    <%end%>
    <div>
    <div id="myscoreModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">SCORE</h3>
      </div>
      <div  class="score-div padding">
        <%= form_for(:company_criteria, :url=>{:action=>'createScore' , :company_id => @company.id}) do |f| %>
        <%= render(:partial=>'score', :locals=>{:f=>f}) %>
        
        <% end %>
      </div>
    </div>
    </div> 
    <%else %>
    <a href="#editModal" role="button" class="btnpink  button" data-toggle="modal" style ="color:#ffffff;"><i class="icon-pencil icon-white"></i> Edit</a>
    <div>
    <div id="editModal" class="modal hide fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel" style="padding-left:15px;">SCORE</h3>
      </div>
      <div  class="score-div padding">
        <%= form_for(:company_criteria, :url=>{:action=>'updateScore' , :company_id => @company.id}) do |f| %>
        <%= render(:partial=>'edit', :locals=>{:f=>f}) %>
        <% end %>
      </div>
    </div>
    </div> 
    <%end%> 
      </div>
    </div>

    <div class="tab-pane" id="tab3">
    <div class="inner-content-div">

    <%if @companyreq.blank?%>
         <div style="padding-left:23px; margin-left:790px;"><a href="#newreq" role="button" class="btnpink" data-toggle="modal" title = "Add Requirements" style = "color:#ffffff"><i class="icon-plus icon-white" ></i> New</a> </div>

          <div id="newreq" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
           <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
           <h3 id="myModalLabel">Add Company Requirements</h3>
          </div>
          <%= form_for(:company_requirement, :url=>{:controller => 'company_requirements' , :action=>'create' , :id => @company.id}) do |f| %>
           <%= render(:partial=> 'company_requirements/new' , :locals => {:f => f})%>
           <% end %>
          </div>
    <%else%>
          
         <span style="padding-left:23px; margin-left:790px;"> <a href="#editreq" role="button" class="btnpink" data-toggle="modal" title = "Edit Requirements" style = "color:#ffffff"><i class="icon-pencil icon-white"></i> Edit</a> </span>

          <div id="editreq" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
           <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
           <h3 id="myModalLabel">Edit Company Requirements</h3>
          </div>
          <%= form_for(:company_requirement, :url=>{:controller => 'company_requirements' , :action=>'update' , :id => @company.id}) do |f| %>
           <%= render(:partial=> 'company_requirements/edit' , :locals => {:f => f})%>
           <% end %>
            </div>
    <%end%>
         
          <div style="padding-left:20px;margin-top:-20px;">
          <% @req = CompanyRequirement.find(:all,:conditions=>{:company_id => @company.id}) %>
          <% @types = Type.all %>
          <% @types.each do |type| %>
          <% @boolean = "No" %>
          <% @req.each do |r|%>
            <% if (r.requirement.type_id == type.id)%>
                <% if (@boolean == "No") %>
                <br>
                <h4 class = "link-color"><%= type.name%></h4>
                <span class = "line-break"><%= type.description%> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                <h5 class ="link-color">&#9734; <%= type.name%> Requirements:</h5>
                  <% @boolean = "Yes" %>
                <%end%>
                <% if (r.requirement.type.string == true)%>
                <%= r.requirement.name %>
                <%else%>
                <%= r.requirement.name %> <%= r.value%><% if (r.max == true) %> Max. <%else%> Min. <%end%>
                <%end%>
                <br>
            <%end%>
          <%end%>
        <%end%>
        </div>

          


          

    </div>
    </div>



    
    </div>
      
    
  </div>
</div>
</div>



    