<body>
<br>	
<br>
<br>
<div class="container">	

<div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add A Vendor</h3>
  </div>
  <%= form_for(@vendor , :as=>:vendor, :url=>{:action=>'create'}) do |f| %>
  <%= render(:partial=> 'form' , :locals => {:f => f})%>
 <% end %>
</div> 
</div>

	<div class="row">
    <div class="span10">
    <div class="header" style="padding-left:15px">Vendors</div>
    </div>
    <div class="span2" style="padding-left:65px">
    <a href="#myModal" role="button" class="btns" data-toggle="modal"><i class="icon-plus icon-white"></i> <b style="color:white">New</b></a>
    </div>
    </div>
		
		

		<br>
		<% @vendors.each do |vendor| %>
		<div class ="box-list">
		<br>
		
		<%= link_to(vendor.name.gsub("-" , " "), {:action => 'show', :id => vendor.id} ,:class => "title link-color-purple") %>
		<br>
		<br>
		<address class ="add">
  			<strong class = "address">Address:</strong><br>
  			<%=vendor.address%><br>
  			<abbr title="Phone">P:</abbr> <%=vendor.phone%> 
			</address>
		<address>
  			<strong class = "address">Website:</strong><br>
 			 <a href="#"><%=vendor.website%></a>
			</address>
		<br>
		
	</div>
	<br>
<%end%>

	</div>
</body>