<body>
<br>
<br>
	<div class ="container">

<div>


<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit A Vendor</h3>
  </div>
  <%= form_for(@vendo , :as=>:vendor, :validate => true, :url=>{:action=>'update' , :id => @vendor.id}) do |f| %>
  <%= render(:partial=> 'form' , :locals => {:f => f})%>
 <% end %>
</div>
</div> 

<br>
<div class="row">
    <div class="span7">
    <div class="header" style="padding-left:15px"><%= @vendor.name %></div> <br>
    </div>
    <% if user_signed_in? %>
    <% if current_user.role == "admin" %>
    <div class="span1" style="padding-left:300px">
   <a href="#myModal" role="button" class="btns" data-toggle="modal" title = "Edit"><i class="icon-pencil icon-white" ></i></a>
    </div>
    <div class="span1 pull-right" style="margin-right:-18px">
   <p class =" btns" title = "Delete"> <%= link_to({:action => 'destroy', :id=>params[:id]},:confirm => 'Are you sure you want to delete?!') do  %> <i class="icon-trash icon-white"></i> <%end%> </p>

    </div>
    <%end%>
    <%end%>
</div>


<div  class="show-box-list">
<div class="tabbable"> 
  <ul class="nav nav-tabs colorr">
    <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
    <li><a href="#tab2" data-toggle="tab">Systems</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <div class="inner-content-div">
      <br>

      <div class="row">
      <div class="span4">
      <div style="padding-left:55px;"><%= image_tag @vendor.image_url.to_s %></div><br><br>
      </div>
      <div class="span6 line-break">
      <br>
      <%= @vendor.description%>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>
      </div>
      </div>
    	<ul style="padding-left:23px;">
         <li><b>Consultant:</b><br></li>
         <%= @vendor.consultant %> 
        <br>
    		 <li><b>Revenue:</b><br></li>
    		 <%= @vendor.revenue %>	
    		<br>
    		 <li><b>Public:</b><br></li>
    		<%= @vendor.public %>
    		<br>
    		<li><b>No of employees:</b><br></li>
    		<%= @vendor.no_of_employees%>
    		<br>
    		<li><b>Headquarters:</b><br></li>
    		<p class ="add"><%= @vendor.headquarters%><p>
          
          <address class ="add">
        <li><b>Address:</b><br></li>
        <%=@vendor.address%><br>
        <abbr title="Phone">P:</abbr> <%=@vendor.phone%> 
      </address>
    <address>
        <li><b>Website:</b><br></li>
       <a href="#"><%=@vendor.website%></a>
      </address>
    	</ul>
      <br>
    </div>
  </div>

    <div class="tab-pane" id="tab2">
      <div class="inner-content-div">
      <br>
      <% if user_signed_in? %>
       <% if current_user.role == "admin" %>
      <div style="padding-left:23px"><a href="#mModal" role="button"  style="margin-left:700px" class="btnpink"  data-toggle="modal" title = "Add A System"><i class="icon-plus icon-white" ></i> New</a></div>
       <%end%>
       <%end%>
      <ul><% @systems.each do |system| %>
      <p class = "title"><%= link_to("#{system.name}",{:controller=>"systems",:action=>'show',:id=>system.id}, :class=>"title link-color-purple")%></p>
      <p class="line-break"><%=system.description%></p>
      <hr>
      <%end%>

    </ul>
    <div>
      <div id="mModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
       <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
       <h3 id="myModalLabel"><%= @vendor.name %> System</h3>
      </div>
      <%= form_for(@system , :as=>:system, :url=>{:controller => 'systems' , :action=>'create' , :id => @vendor.id}) do |f| %>
       <%= render(:partial=> 'systems/form2' , :locals => {:f => f})%>
       <% end %>
        </div>
      </div>
    </div>
      </div>
    </div>
      
    
  </div>
</div>
</div>

</body>
