 <div class="modal-body body">
    <p>
	<dl>		
		
<dt><%= f.label("Name") %></dt>
<dd><%= f.text_field(:name)%></dd>

<dt><%= f.label("Programming Language") %></dt>
<dd><%= f.text_field(:programming_language)%></dd>


<dt><%= f.label("No Of Users") %></dt>
<dd><%= f.text_field(:no_of_employees)%></dd>


<dt><%= f.label("Description") %></dt>
<dd><%= f.text_area(:description)%></dd>

</dl>
</br>

</p>
  </div>
  <div class="modal-footer">
    
 	<button class = " btn btn-primary" type = "submit">Save</button>
    
  </div>