<br>
<br>

<div  class="container">
	<div>


<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit A System</h3>
  </div>
  <%= form_for(@system , :as=>:system,:validate => true, :url=>{:action=>'update' , :id => @system.id}) do |f| %>
  <%= render(:partial=> 'form' , :locals => {:f => f})%>
 <% end %>
</div>
</div> 

<br>
<div class="row">
    <div class="span7">
    <div class="header" style="padding-left:15px"><%= @system.name.gsub("-" , " ") %></div> <br>
    </div>
    <% if user_signed_in? %>
     <% if current_user.role == "admin" %>
    <div class="span1" style="padding-left:300px">
   <a href="#myModal" role="button" class="btns" data-toggle="modal" title = "Edit"><i class="icon-pencil icon-white" ></i></a>
    </div>
    <div class="span1 pull-right" style="margin-right:-18px">
   <p class =" btns" title = "Delete"> <%= link_to({:action => 'destroy', :id=>params[:id]},:confirm => 'Are you sure you want to delete?!') do  %> <i class="icon-trash icon-white"></i> <%end%> </p>

    </div>
    <%end%>
    <%end%>
</div>



	<div  class="show-box-list">
		<div class="tabbable"> 
		  <ul class="nav nav-tabs colorr">
		    <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
		    <li ><a href="#tab2" data-toggle="tab">versions</a></li>
		    <li ><a href="#tab3" data-toggle="tab">Reviews</a></li>
		  </ul>

		  <div class="tab-content" style="padding-left:20px;">

		    <div class="tab-pane active" id="tab1">
		    <div class="inner-content-div">
		      <br>
		      <div>
		      <li> <b>Launched On:</b> 6 July 1992 </li><br>
		      <li> <b>Number of users:</b> <%= @system.no_of_employees %></li> <br>
		      <li> <b>Programming Language:</b> <%= @system.programming_language %></li><br>
		      <li><b>Description: </b><br><br>
		     <ul class="line-break-padding"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</ul></li><br>

		      <div class="row">
			      <div class="span3">
			      <b style="padding-left:23px;">&#149; Technical Details: </b>
			  	 </div>
			  	 <div class="span3 offset4 pull-right">
				  	 <% @systemreq = SystemRequirement.find(:all,:conditions => {:system_id => @system.id}) %>
				   	 <% if (@systemreq.size == 0) %>
				   	 <% if user_signed_in? %>
	  			 <% if current_user.role == "admin" %>
			     <a href="#newreq" role="button" class="btnpink" data-toggle="modal" title = "Add Requirements" style = "color:#ffffff"><i class="icon-plus icon-white" ></i> New</a> 
                  <%end%>
                  <%end%>
	          	<%else%>
	          	<% if user_signed_in? %>
	             <% if current_user.role == "admin" %>
			    <a href="#editreq" role="button" class="btnpink" data-toggle="modal" title = "Edit Requirements" style = "color:#ffffff"><i class="icon-pencil icon-white"></i> Edit</a> 
                 <%end%>
                 <%end%>
	          	<%end%>
			  	 </div>
		  	 </div>

		  	    <div id="newreq" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  
			    <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			       <h3 id="myModalLabel">Add System Technical Details</h3>
			    </div>
			      <%= form_for(:system_requirement,:url=>{:controller => 'system_requirements' , :action=>'create' , :id => @system.id}) do |f| %>
			       <%= render(:partial=> 'system_requirements/new' , :locals => {:f => f})%>
			       <% end %>
			    </div>

				<div id="editreq" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  
			       <div class="modal-header">
			       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			       <h3 id="myModalLabel">Edit System Technical details</h3>
			      </div>
			      <%= form_for(:system_requirement, :url=>{:controller => 'system_requirements' , :action=>'update' , :id => @system.id}) do |f| %>
			       <%= render(:partial=> 'system_requirements/edit' , :locals => {:f => f})%>
			       <% end %>
			    </div>
			      
    

    	<div style="padding-left:20px;">
        <% @req = SystemRequirement.find(:all,:conditions=>{:system_id => @system.id}) %>
        <% @types = Type.all %>
        <% @types.each do |type| %>
          <% @boolean = "No" %>
          <% @req.each do |r|%>
            <% if (r.requirement.type_id == type.id)%>
              <% if (@boolean == "No") %>
                <br>
                <p style="padding-left:20px;"><h5 class = "link-color"><%= type.name%></h5></p>
                <p class = "line-break"><%= type.description%> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h6 class ="link-color">&#9734; <%= type.name%> Requirements:</h6>
                <% @boolean = "Yes" %>
              <%end%>
              <% if (r.requirement.type.string == true)%>
              &#149; <%= r.requirement.name %><br>
              <%else%>
              &#149; <%= r.requirement.name %> <%= r.value%><% if (r.max == true) %> Max. <%else%> Min. <%end%><br>
              <%end%>
            <%end%>
          <%end%>
        <%end%>
      </div>


        <br>
		  	</div>
        </div>
		</div>

		    <div class="tab-pane" id="tab2">
          <div class="inner-content-div">
            <div>
        <% if user_signed_in? %>
        <% if current_user.role == "admin" %>
      		<div style="padding-left:23px"><a href="#mModal" role="button"  style="margin-left:700px" class="btnpink"  data-toggle="modal" title = "Add A System"><i class="icon-plus icon-white" ></i> New</a></div>
        <%end%>
        <%end%>

      <div id="mModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
       <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
       <h3 id="myModalLabel"><%= @system.name %> Version</h3>
      </div>
      <%= form_for(@version, :as=>:version, :validate => true,:url=>{:controller => 'versions' , :action=>'create' , :id => @system.id}) do |f| %>
       <%= render(:partial=> 'versions/form' , :locals => {:f => f})%>
       <% end %>
        </div>
      </div>
      <br>
		      	<% @versions.each do |version| %> 
		      	<p class = "title link-color-purple"><%= version.name%></p>
            <div class="span3 offset4 pull-right" style="padding-top:9px;padding-left:73px">
            <% if user_signed_in? %>
            <% if current_user.role == "admin" %>
            <a href="#<%= version.id %>" role="button"  data-toggle="modal"  class="btns btn-mini"> <i class="icon-pencil icon-white" title="edit" ></i></a>    
          <span style="padding-left:8px"><%= link_to({:action => 'destroy', :id=>version.id},:confirm => 'Are you sure you want to delete?!' , :class=>"btns btn-mini") do  %> <i class="icon-trash icon-white" title="delete"></i> <%end%> </span>
          <%end%>
          <%end%>
          <br>
            </div>
            <div>
            <div id="<%= version.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
             <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Edit Version</h3>
            </div>
              <div  class="score-div padding">
                <% @version = Version.find(version.id) %>
               <%= form_for(@version , :as=>:version, :validate => true,:url=>{:controller => 'versions' , :action=>'update', :id=>version.id}) do |f| %>
               <%= render(:partial=>'versions/form2', :locals=>{:f=>f}) %>
             <%end%>
              </div>
            </div>
            </div>
            <ul>
              <li><b>Year: </b><%=version.year%></li>
              <li><b>Price: </b><%=version.Price%> USD</li>
            </ul>
            <h6 class ="link-color-purple">&#9734; Specs</h6>
            <% @specs = version.specs%>
            <div>
            <% @specs.each do |spec|%>
            &#149; <%= spec.name%><br>
            <%end%>
            </div>
              <hr>
		      	<%end%>
        
		    </div>
        </div>

		      <div class="tab-pane " id="tab3">
		      	<div class="inner-content-div">
		    	<br>
		      <ul class="line-break">
		      	<% if @reviews.blank? %>
		      	 <p>There are no reviews </p>
		      	<% else %>
		      	<% @reviews.each do |r| %>
		      	<%= image_tag("avatar.jpg", :alt => "rss feed")%> <b style="padding-left:15px;">  <%=  r.reviewer %></b> <i class="pull-right date"><%= r.source %></i><br><br>
		      	<%= r.review %> <br>
		      	<%= r.review2 %><br>
		      	<%= r.review3 %> <br><hr style="border-width:0"><br>
		      	<% end %>
		      	<% end %>
		      </ul>
		     </div>
		    </div>

		  </div>
	   </div>

	 <br>
	
	</div>
</div>