<body>
<br>
<br>
<br>
<br>
<br>
<br>
<div class ="container">
	<div  class="show-box-list">
		<div class="tabbable"> 
  <ul class="nav nav-tabs colorr">
<li class="active"><a href="#tab1" data-toggle="tab">Sub Criteria</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <div class="inner-content-div">
      <br>
<%= form_for(:company_subcriterions,:url=>{:action=>'create' , :id => @company}) do |f| %>

<div id="divsub">

      <% @criteria.each do|c|%>

      <h4><p style="padding-left:23px;" class = "title link-color"><%= c.criterion.name%><label style="margin-top:-20px; margin-left: 300px; font-size: 18px;"id=<%="#{c.id}"-%>><%= c.weight%></label><label style="margin-top:-25px; margin-left: 320px; font-size: 18px;">%</label></p></h4>
     <br>
      <h6 class ="link-color" style= "padding-left:23px;">&#9734; Please Choose and Assign Weight to Sub-Criteria:</h6>
      
      
       <div class ="list2" style="padding-left:20px;" id=<%="sub#{c.id}"-%>>
  <br>

      <% Subcriterion.where(:criterion_id => c.criterion.id).each do |sub|%>

      <label class = "label1"><%= check_box_tag "subcriterions_ids[]", sub.id , @subids.include?(sub.id) , id: dom_id(sub)%><%= sub.name%></label><p style="padding-left:260px; margin-top:-30px;"><%= f.text_field(sub.id , :class => "span5 subw", :placeholder =>"weight %" , :id=> c.id) %></p>

        
      
      <%end%>
      </div>
      <br>
      <br>
      <%end%>

      <button class = "btn btn-primary save" type = "submit" disabled>Save</button>
    
       <% end %>
      </div>
      </div>
</div>
</div>
</div>
</div>
</div>
</body>