<!DOCTYPE html>
<html>
<head>
  <title>DSS</title>
  <%= stylesheet_link_tag    "application", "bootstrap" , "jquery.slimscroll.min.js" , :media => "all" %>
  <%= javascript_include_tag "application" , "bootstrap" , "bootstrap-responsive.css" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div class="navbar navbar">
  <div class="navbar-inner kay"> 
     
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  
<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
