<!DOCTYPE html>
<html>
<head>
  <title>DSS</title>
 <%= stylesheet_link_tag    "application", "bootstrap" , :media => "all" %>
  <%= javascript_include_tag "application" , "bootstrap.js" , "jquery.slimscroll.js" %>
  <%= csrf_meta_tags %>
</head>
<body class = "container-fluid">
  <div class="navbar navbar">
  <div class="navbar-inner kay"> 
     
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  
<div id="user_nav">

  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Login", new_user_session_path %> 
  <% end %>
</div>
   <div class="row-fluid">
    <div class="span3 pull-right">
      <div class= "toplist">
         
         <div class = "top"> 
          <br>
          Top Vendors:
          <br>
          <br>
       </div>
       <br>
        <%top_vendors%>
        <% @rank.each do |r|%>
        <p class = "t_list"><%= r.rank%>.
        <%= link_to(r.vendor.name, {:controller => 'vendors',:action => 'show', :id => r.vendor_id}) %>
        </p>
        <br>
        <%end%>
      </div>
     <div class= "toplist soft">  
        <div class = "top"> 
          <br>
          Top Softwares:
          <br>
          <br>
        </div>
        <br>
        <%top_software%>
      <% @ran.each do |r|%>
        <p class = "t_list"><%= r.rank%>.
        <%= link_to(r.system.name, {:controller => 'systems',:action => 'show', :id => r.system_id}) %>
        <br><br></p>
        <%end%>
      </div>

    </div>
    <div class="span9">
      <%= yield %>
    </div>
  </div>
</body>
</html>
